:root{
    /* paleta de colores */
    --violeta: #341d75; /* RGB */
    --blancoMarfil: #e2e6ea;
    --transparente: rgba(150, 12, 255, 0.473);

    /* tamaño */
    --tamanoParrafo: 2rem;
    --tamanoTitulos: 4rem;
    --tamanoSubtitulos: 2.8rem;

    /*fondos */
    --fondoTexto: #e8c7ff;
    --fondoOscuro: #0f011e;
    
    --background: rgb(87, 87, 87);

    /* tipografia */
    --letraFamily: Roboto, Verdana, Geneva, Tahoma, sans-serif;
    --background-color: #957375;
}

a{
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--letraFamily);
    background-color: var(--background);
}

*{
    font-family: "Kanit", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: var(--blancoMarfil);
}


/* ******************** Barra de navegación ***************** */
nav{
    position: sticky;
    top:0;
    background-color: var(--violeta); 
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    height: 4rem;
    z-index: 1;
}

.Titulo {
    color: white;
    font-size: larger;
    padding: 0px;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
}

.Logo{
    top: 0;              
    left: 0;                  
    width: 10%;        
    height: 4rem;     
}

.nav_inicio{
    display: flex;    
    align-items: center;
    height: 4rem;
}

.iconos{
    justify-content: flex-end;
    margin-right: 2rem;
}

.icono{
    margin-right: 1rem;
}

/*********************************** MAIN ***********************************/

#main{
    padding: 4%;
}
