:root{
    /* paleta de colores */
    --violeta: #341d75; /* RGB */
    --blancoMarfil: #e2e6ea;
    --transparente: rgba(150, 12, 255, 0.473);

    /* tamaño */
    --tamanoParrafo: 2rem;
    --tamanoTitulos: 4rem;
    --tamanoSubtitulos: 2.8rem;

    /*fondos */
    --fondoTexto: #e8c7ff;
    --fondoOscuro: #0f011e;
    
    --background: rgb(87, 87, 87);

    /* tipografia */
    --letraFamily: Roboto, Verdana, Geneva, Tahoma, sans-serif;
    --background-color: #957375;
}

a{
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--letraFamily);
    background-color: var(--background);
}

*{
    font-family: "Kanit", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: var(--blancoMarfil);
}


/* ******************** Barra de navegación ***************** */
nav{
    position: sticky;
    top:0;
    background-color: var(--violeta); 
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    height: 4rem;
    z-index: 1;
}

.Titulo {
    color: white;
    font-size: larger;
    padding: 0px;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
}

.Logo{
    top: 0;              
    left: 0;                  
    width: 10%;        
    height: 4rem;     
}

.nav_inicio{
    display: flex;    
    align-items: center;
    height: 4rem;
}

.iconos{
    justify-content: flex-end;
    margin-right: 2rem;
}

.icono{
    margin-right: 1rem;
}

.btn-custom{
    background-color: red;
    color: white;
    border: none;
}

.contador-carro{
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: red;
    color: white;
    font-weight: bold;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 14px;
}

/*********************************** MAIN ***********************************/

#main{
    padding: 4%;
}

.titulo_quienes_somos{
    font-size: var(--tamanoTitulos);
    margin-bottom: 3%;
}

.parrafo_quienes_somos{
    font-size:var(--tamanoParrafo);
    padding: 0% 5% 0% 5%;
}

/****************************************Footer*************************************************/
.container{
    margin-top: auto;
    background-color: blue;
    margin-left: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 10px; /* Espacio entre los elementos */
    padding: 32.7px;
    margin: 0px;
    width: 100%;
    max-width: 100%;
}
.item {
    color: white; 
    padding: 10x; 
    text-align: center; 
    border-radius: 15px; 
    margin: 0px;
}
.RSocial{
    margin-left: 10px;  
    border-radius: 100%;  
    max-width: 15%;
    height: auto;
}
#redes{
    margin-left: 10px;  
    
}
#QuienesSomos{
    color: #e2e6ea;
    align-content: center;
    text-align: center;
}